.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* Expandable Cross-Sell Card Styles */

.expandable-cross-sell-wrapper {
  width: 100%;
  display: grid;
  justify-content: space-between;
}

.expandable-cross-sell-wrapper.cards > ul {
  display: flex;
  gap: 24px;
}

.expandable-cross-sell-wrapper.cards > ul > li {
  flex: 1 1 0;
  overflow: hidden;
  transition: flex-basis 0.5s ease-in-out, width 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 600px;
  min-width: 0;
  position: relative;
  border-radius: 15px;
}

.expandable-cross-sell-wrapper.cards .cards-card-body {
  display: none;
  position: absolute;
  bottom: 40px;
  background-color: white;
  width: 50%;
  padding: 20px;
}

.expandable-cross-sell-wrapper.cards > ul > li:hover {
  flex: 3 1 0;
}

.expandable-cross-sell-wrapper.cards > ul > li .cards-card-body {
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.expandable-cross-sell-wrapper.cards > ul > li:hover .cards-card-body {
  display: block;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.expandable-cross-sell-wrapper.cards > ul > li {
  flex-basis: 30%;
  transition: flex-basis 0.5s ease-in-out, width 0.5s ease-in-out;
}

.expandable-cross-sell-wrapper.cards > ul > li:hover {
  flex-basis: 70%;
  transition: flex-basis 0.5s ease-in-out, width 0.5s ease-in-out;
}

.expandable-cross-sell-wrapper.cards > ul > li:not(:hover) {
  flex: 0.75 1 0;
}

.expandable-cross-sell-wrapper.cards .cards-card-image {
  height: 100%;
}

.expandable-cross-sell-wrapper.cards > ul > li img {
  transition: width 0.5s ease-in-out;
  height: 100%;
}


